body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: darkblue;
    padding-top: 20px;
}

.logo img {
    width: 80%;
    display: block;
    margin: 0 auto;
    color: black;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.menu li {
    padding: 10px;
}

.menu li a {
    color: #ffffff;
    text-decoration: bold;
    display: flex;
    transition: all 0.5s ease;
}

.menu li a:hover {
    background-color: lightskyblue;
    border-radius: 3px;
    padding-top: 10px;
    align-items: center;
}
.content h1{
    text-align: center;
    color: darkblue;
    font-family: sans-serif;
}

.content {
    margin-left: 250px; /* Same as sidebar width */
    padding: 20px;
}
.content h3 {
    color: white;
    padding: 1%;
    background-color: darkred;
    font-family: sans-serif;
    width: 23%;
    height: 25px;
    margin: 10px;
    align-content: center;

}
.sidebar i{
    color: white;
    height: 40px;
    padding: 3%;
    text-decoration: initial;
    text-underline-offset: none;
}
.sidebar li{
    color: white;
}
.sidebar a{
    color: white;
    text-decoration: none;
    padding: -1;
    align-content: center;
}
.menu{
    padding: 02%;
}
.content i{
    color: darkblue;
    
}
.logo img{
    height: 100px;
    align-items: right;
    padding: -10%;
    justify-content: initial;
    border-radius: 70px;
    width: 40%;
}
.logo p{
    color: black;
    text-align: center;
    padding: 5%;
    background: lightskyblue;
    font-family: sans-serif;
    border-radius: 19px;
    height: 19px;
    width: 27vh;
}
.table-box{
    margin: 50px;
}
.table-row{
    display: table;
    width: 100%;
    margin: 10px, auto;
    font-family: sans-serif;
    background: lightskyblue;
    padding: 12px 0;
    color: white;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 rgb(132, 152, 231);
}
.table-cell{
    display: table-cell;
    width: -10%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid;
    vertical-align: middle;
    color: #fff;
}
.table{
    background-color: lightskyblue;
    text-align: left;
    text-align: left;
}